# These requirements are for running tests and the sample_site, the library
# itself only needs a subset, see setup.py for that list
coverage==5.5
pudb==2020.1
pyflakes==2.3.1
Sphinx==3.5.3
sphinx-rtd-theme==0.5.2
tox==3.23.0
twine==3.4.1
waelstow==0.10.2
